In [20]:
import pandas as pd

celeb_data = pd.read_csv('list_attr_celeba.csv')

celeb_data.replace(-1, 0, inplace=True)
celeb_data.drop(columns = ['image_id', '5_o_Clock_Shadow', 'Arched_Eyebrows', 'Bags_Under_Eyes', 'Bushy_Eyebrows', 'Bangs', 'Blurry', 'Smiling', 'Mouth_Slightly_Open', 'Wearing_Earrings', 'Wearing_Hat', 'Wearing_Lipstick', 'Wearing_Necklace', 'Wearing_Necktie'], inplace=True)

celeb_data.head()

,Attractive,Bald,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,Brown_Hair,Chubby,Double_Chin,Eyeglasses,...,No_Beard,Oval_Face,Pale_Skin,Pointy_Nose,Receding_Hairline,Rosy_Cheeks,Sideburns,Straight_Hair,Wavy_Hair,Young
0,1,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,1,0,1
1,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,1
4,1,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1